* {
    box-sizing: border-box;
}

:root {
    --header-bg: #10375c;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Sora", sans-serif;
}

/* Common */
a {
    text-decoration: none;
}

.btn {
    --height: 60px;
    color: #fff;
    display: inline-block;
    line-height: var(--height);
    background: #2e80ce;
    height: var(--height);
    border: 1px solid #2e80ce;
    padding: 0 20px;
    border-radius: 999px;
    min-width: 205px;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 400;
}

.btn:hover {
    opacity: 0.9;
    cursor: pointer;
}

.container {
    width: 1170px;
    min-width: calc (100% - 48px);
    margin: 0 auto;
}

.section-heading {
    color: #10375c;
    font-size: 5rem;
    font-weight: 600;
    line-height: 1.2; /* 120% */
    letter-spacing: -0.02em;
}

.section-desc {
    margin-top: 18px;
    font-weight: 300;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #575f66;
}

.control {
    display: flex;
    column-gap: 18px;
}

.control__btn {
    width: 36px;
    height: 36px;
    outline: none;
    border: 1px solid #575f66;
    border-radius: 50%;
    background: #fff;
    display: flex;
    align-items: center;
    color: #575f66;
    justify-content: center;
    transform: 0.25s;
    cursor: pointer;
}

.control__btn:hover {
    border-color: #2e80ce;
    background: #2e80ce;
    color: #fff;
}

.control-next-icon {
    rotate: 180deg;
}

input,
textarea,
select,
button {
    font-family: inherit;
    font-size: inherit;
}

/* Header */
.header {
    min-height: 100vh;
    background-color: var(--header-bg);
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
}

.logo {
    font-size: 1rem;
    position: relative;
    display: inline-flex;
}

.logo__circle::before,
.logo__circle::after {
    content: "";
    display: inline-block;
    border-radius: 50%;
}

.logo__circle::before {
    width: 3em;
    height: 3em;
    background: #2e80ce;
}

.logo__circle::after {
    width: 1.6em;
    top: 1.1em;
    left: 1.1em;
    height: 1.6em;
    background: #fff;
    position: absolute;
}

.logo__text {
    margin-left: 0.6em;
    text-align: right;
    line-height: 1.6em;
}

.logo__branch {
    display: block;
    font-family: Sora, sans-serif;
    font-size: 1.8em;
    font-weight: 400;
    color: #fff;
}

.logo__branch--small {
    font-size: 1.2em;
    font-weight: 300;
}

.navbar__list {
    display: flex;
}

.navbar__link:hover,
.navbar__item--active {
    color: #fff;
    text-shadow: 1px 0 0 currentColor;
}

.navbar__item--active::before {
    content: "";
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #fff;
    position: relative;
    left: -8px;
    top: -2px;
}

.header-action {
    display: flex;
    align-items: center;
}

.header-action__login,
.navbar__link {
    padding: 4px 21px;
    font-size: 1.6rem;
    color: #c9d2da;
    font-weight: 300;
}

.header-action__login {
    margin-right: 7px;
}

.header-action__signup {
    --height: 44px;
    min-width: 104px;
}

/* Hero  */
.hero {
    margin-top: 76px;
    display: flex;
    align-items: center;
}

.hero__content {
    width: 44%;
    flex-shrink: 0;
}

.hero__media {
    flex-grow: 1;
}

.hero__heading {
    color: #fff;
    font-family: Sora;
    font-size: 7rem;
    font-weight: 600;
    line-height: 1.14; /* 114.286% */
    letter-spacing: -0.02em;
}

.hero__desc {
    margin-top: 22px;
    color: #c9d2da;
    font-family: Sora;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1.66; /* 166.667% */
}

.hero__row {
    margin-top: 38px;
    display: flex;
    align-items: center;
}

.hero__phone {
    margin-left: 38px;
    color: #fff;
    font-size: 1.8rem;
    line-height: 1.66; /* 166.667% */
}

.hero__images {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.hero__img {
    width: 330px;
    height: 540px;
    border-radius: 6px;
    object-fit: cover;
}

.hero__img:first-child {
    position: relative;
    margin-right: -6px;
}

.hero__img:last-child {
    width: 210px;
    height: 410px;
}

.services {
    padding: 170px 0;
}

.services__heading,
.services__desc {
    text-align: center;
}

.services__desc {
    width: 468px;
    margin-left: auto;
    margin-right: auto;
}

.service__row {
    display: flex;
    align-items: center;
    margin-top: 70px;
    justify-content: space-between;
}

.service__img {
    width: 570px;
    height: 570px;
    object-fit: cover;
    border-radius: 12px;
}

.service__list {
    margin-bottom: 55px;
}

/* Service item  */
.service-item {
    width: 470px;
    background: #fff;
    border-radius: 10px;
    padding: 22px;
    display: flex;
    transition: 0.25s;
}

.service-item:hover {
    position: relative;
    box-shadow: 0px 14px 28px 0px rgba(0, 0, 0, 0.05);
}

.service-item:hover .service-item__icon {
    background-color: #2e80ce;
    color: #fff;
}

.service-item__icon {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    background: #eff6fd;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.05);
    color: #10375c;
    border-radius: 50%;
    transition: 0.25s;
}

.service-item__body {
    margin-left: 20px;
}

.service-item__heading {
    font-weight: 600px;
    font-size: 1.8rem;
    color: #10375c;
    line-height: 1.27;
}

.service-item__desc {
    font-weight: 300;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #575f66;
    margin-top: 8px;
}

/* Section  */
.work {
    background: #f6fbff;
    padding: 100px 0;
}

.work__desc {
    width: 468px;
}

.work-item__desc {
    color: #575f66;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.75; /* 175% */
    margin-top: 26px;
}

.work-item__heading {
    margin-top: 20px;
    font-weight: 600;
    font-size: 2.6rem;
    line-height: 1.38;
    color: #10375c;
}

.work-item__more {
    display: inline-block;
    margin-top: 18px;
}

.work-item:hover {
    border-color: #2e80ce;
    transform: translateY(-16px);
}

.work__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
    margin-top: 70px;
}

.work-item {
    border-radius: 4px;
    border: 16px solid #eaf6ff;
    padding: 44px;
    transition: 0.25s;
}

/* Feature */
.feature {
    margin-top: 170px;
}

.feature__media {
    width: 48%;
}

.feature__images {
    position: relative;
    padding: 0 58px 121px 0;
}

.feature__img {
    width: 512px;
    height: 370px;
    object-fit: cover;
    border-radius: 6px;
}

.feature__img:last-child {
    width: 332px;
    height: 370px;
    position: absolute;
    right: 0;
    bottom: 0;
}

.feature__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.feature__content {
    width: 40%;
}

.feature__cta {
    margin-top: 38px;
}

/* Member */
.member {
    margin-top: 170px;
    text-align: center;
}

.member__header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.member__cta {
    margin-top: 36px;
}

.member__list {
    margin-top: 70px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 30px;
}

.member__control {
    margin-top: 38px;
    justify-content: center;
}

.member-item__img-bg {
    padding-top: 28px;
    background: #eaf6ff;
    border-radius: 6px;
    overflow: hidden;
}

.member-item__thumb {
    display: block;
    max-width: 100%;
    object-fit: cover;
    height: 290px;
    transition: 0.25s;
}

.member-item__name {
    margin-top: 12px;
    color: #10375c;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.75; /* 175% */
}

.member-item__title {
    color: #575f66;
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 1.86; /* 185.714% */
}

.member-item:hover .member-item__thumb {
    transform: scale(1.1);
}

/* Install */
.install {
    margin-top: 265px;
}

.install__inner {
    padding: 0 70px;
    border-radius: 4px;
    background: #2e80ce;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.install__img {
    width: 284px;
    height: 522px;
    object-fit: cover;
    margin-top: -95px;
    display: block;
}

.install__content {
    max-width: 586px;
}

.install__heading,
.install__desc {
    color: #fff;
}

.install__heading {
    max-width: 489px;
}

.install__row {
    margin-top: 38px;
    display: flex;
    column-gap: 28px;
}

/* New  */
.new {
    margin-top: 85px;
    padding: 85px 0;
}

.new__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.new__content {
    flex-shrink: 0;
}

.new__heading {
    max-width: 470px;
}

.new__more {
    margin-top: 28px;
    display: inline-block;
    color: #10375c;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.56; /* 155.556% */
    text-decoration-line: underline;
    text-underline-offset: 5px;
}

.new__control {
    margin-top: 28px;
}

.new__list {
    min-width: 570px;
    display: flex;
    column-gap: 30px;
}

.new-item {
    flex: 1;
    border-radius: 12px;
    overflow: hidden;
    transition: 0.25s;
}

.new-item:hover {
    box-shadow: 0px 18px 50px 0px rgba(0, 0, 0, 0.05);
}

.new-item:hover .new-item__body {
    border-color: #fff;
}

.new-item:hover .new-item__thumb {
    transform: scale(1.1);
}

.new-item__thumb {
    display: block;
    width: 100%;
    height: 172px;
    object-fit: cover;
    transition: 0.25s;
}

.new-item__body {
    border: 1px solid #e8ebee;
    background: #fff;
    border-top: none;
    padding: 24px 24px 16px;
    transition: 0.25s;
    border-radius: 0 0 12px 12px;
}

.new-item__heading {
    color: #10375c;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.62; /* 162.5% */
}

.new-item__desc {
    color: #575f66;
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 1.71; /* 171.429% */
}

.new-item__more {
    margin-top: 12px;
    display: block;
    color: #10375c;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.8;
}

.new-item__more:hover {
    color: #2e80ce;
}

/* .appointment  */
.appointment {
    margin: 170px 0;
}

.appointment__inner {
    background: #eaf6ff;
    padding: 100px 70px;
    text-align: center;
    border-radius: 4px;
}

.appointment__heading {
    position: relative;
    padding-bottom: 20px;
}

.appointment__heading::after {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    content: "";
    width: 136px;
    height: 2px;
    background: #2e80ce;
    display: block;
}

.appointment__desc {
    min-width: 617px;
    margin: 18px auto 38px;
    font-style: 1.6rem;
}

/* Footer 
 */
.footer {
    background: #10375c;
    padding-top: 100px;
    font-family: "Open Sans", sans-serif;
}

.footer__row {
    display: grid;
    grid-template-columns: 1fr 0.4fr 0.4fr 1fr;
    column-gap: 78px;
}

.footer__desc {
    margin-top: 20px;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #a9b3bb;
}

.footer__heading {
    margin-bottom: 20px;
    color: #fff;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.75; /* 175% */
}

.footer__list {
    margin-bottom: 28px;
}

.footer__link {
    color: #a9b3bb;
    font-size: 1.4rem;
    line-height: 1.86; /* 185.714% */
}

.footer__link:hover {
    text-decoration: underline;
}

.footer__item {
    margin-bottom: 10px;
}

.footer__social {
    display: flex;
    column-gap: 10px;
    margin-bottom: 28px;
}

.footer__social-btn {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #2e80ce;
    transition: 0.25s;
}

.footer__social-btn:hover {
    color: #fff;
    background: #2e80ce;
}

.footer__form {
    margin-top: 10px;
    display: block;
    display: flex;
    column-gap: 12px;
}

.footer__input {
    width: 212px;
    height: 46px;
    outline: none;
    border-radius: 4px;
    border: 1px solid #406181;
    background: transparent;
    padding: 0 10px;
    color: #fff;
}

.footer__input::placeholder {
    color: #9ca8b1;
    font-family: "Open Sans";
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.86; /* 185.714% */
}

.footer__submit {
    --height: 46px;
    min-width: 108px;
    border-radius: 4px;
    font-size: 1.4rem;
}

.footer__copyright {
    border-top: 1px solid #a9b3bb;
    color: #aab3ba;
    padding: 28px 0 42px;
}

.footer__copyright-text {
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.85; /* 185.714% */
}
